.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {

}
  
.container {
  background-color: black;
  color: white;
  border-style: double;
  border-color: blueviolet;
  text-align: center;
}

#section-1 {
  background-color: purple;
  color: yellow;
  border-style: dotted;
  text-align: right;

}

#section-6 {
  color: yellow;

}

.lesson{
  color: orange;
}

#section-blue{
  background-color: blue;
  border-style: solid;
  border-color: aqua;
}

